<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">
    <title>Communities</title>
    <!-- All CSS is here
	============================================ -->

    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/vendor/signericafat.css">
    <link rel="stylesheet" href="assets/css/vendor/cerebrisans.css">
    <link rel="stylesheet" href="assets/css/vendor/simple-line-icons.css">
    <link rel="stylesheet" href="assets/css/vendor/elegant.css">
    <link rel="stylesheet" href="assets/css/vendor/linear-icon.css">
    <link rel="stylesheet" href="assets/css/plugins/nice-select.css">
    <link rel="stylesheet" href="assets/css/plugins/easyzoom.css">
    <link rel="stylesheet" href="assets/css/plugins/slick.css">
    <link rel="stylesheet" href="assets/css/plugins/animate.css">
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <script type="text/javascript" src="assets/js/vendor/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/map.js"></script>
    <script>
        function initMap() {
            if (window.initializeMap) {
                window.initializeMap();
            }
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3xC4DGlPU8m9Ve671tiz21I_mnpojf10&callback=initMap"></script>

</head>

<body>
<div th:replace="reuse/myHeader :: header-content"></div>

<div class="main-wrapper">

    <div class="breadcrumb-area bg-gray">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="active">Communities </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="shop-area pt-120 pb-120">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-9">
                    <div class="shop-topbar-wrapper">
                        <div class="shop-topbar-left">
                            <div class="view-mode nav">
                                <a class="active" href="#shop-1" data-toggle="tab"><i class="icon-grid"></i></a>
                            </div>
                        </div>
                        <div class="product-sorting-wrapper">
                            <div class="product-shorting shorting-style">
                                <label>View :</label>
                                <select>
                                    <option value=""> 20</option>
                                    <option value=""> 23</option>
                                    <option value=""> 30</option>
                                </select>
                            </div>
                            <div class="product-show shorting-style">
                                <label>Sort by :</label>
                                <select>
                                    <option value="">Default</option>
                                    <option value=""> Title</option>
                                    <option value=""> Rating</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="shop-bottom-area">
                        <div class="tab-content jump">
                            <div id="shop-1" class="tab-pane active">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 gvgrid" th:each="community:${communityList}">
                                        <div class="single-product-wrap mb-35">
                                            <div class="product-img product-img-zoom mb-15">

                                                <a th:href="@{/communityDetail(id=${community.getCommunityID()})}">
                                                    <img th:src="@{${'communities/' + community.getCommunityID()+'.jpg'}}" alt="" width="270" height="324">
                                                </a>
                                                <div class="product-action-2 tooltip-style-2">
                                                </div>
                                            </div>
                                            <div class="product-content-wrap-2 text-center">

                                                <h3 th:href="@{/communityDetail(id=${community.getCommunityID()})}">
                                                    <a th:text="${community.getName()}"></a>
                                                </h3>
                                                <h4 th:href="@{/communityDetail(id=${community.getCommunityID()})}">
                                                    <a th:text="${community.getCountry()}+', '+${community.getCity()}"></a>
                                                </h4>

                                            </div>
                                            <div class="product-content-wrap-2 product-content-position text-center">
                                                <h3 th:href="@{/communityDetail(id=${community.getCommunityID()})}">
                                                    <a th:text="${community.getName()}"></a></h3>
                                                <h5 ><a th:text="${community.getIntro()}"></a></h5>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div id="map" style="width: 100%; height: 500px;"></div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="sidebar-wrapper sidebar-wrapper-mrg-right">
                        <div class="sidebar-widget mb-40">
                            <h4 class="sidebar-widget-title">Search </h4>
                            <div class="sidebar-search">
                                <form class="sidebar-search-form" action="/gameSearch">
                                    <input type="text" name="search" placeholder="Search here...">
                                    <button>
                                        <i class="icon-magnifier"></i>
                                    </button>
                                </form>
                            </div>
                        </div>

                        <div class="sidebar-widget shop-sidebar-border mb-40 pt-40">
                            <h4 class="sidebar-widget-title">Country</h4>

                        </div>
                        <div class="sidebar-widget shop-sidebar-border mb-40 pt-40">
                            <h4 class="sidebar-widget-title">City </h4>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div th:replace="reuse/footer :: footer-content"></div>

<!-- All JS is here
============================================ -->

<script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="assets/js/vendor/jquery-3.5.1.min.js"></script>
<script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
<script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="assets/js/plugins/slick.js"></script>
<script src="assets/js/plugins/jquery.syotimer.min.js"></script>
<script src="assets/js/plugins/jquery.instagramfeed.min.js"></script>
<script src="assets/js/plugins/jquery.nice-select.min.js"></script>
<script src="assets/js/plugins/wow.js"></script>
<script src="assets/js/plugins/jquery-ui-touch-punch.js"></script>
<script src="assets/js/plugins/jquery-ui.js"></script>
<script src="assets/js/plugins/magnific-popup.js"></script>
<script src="assets/js/plugins/sticky-sidebar.js"></script>
<script src="assets/js/plugins/easyzoom.js"></script>
<script src="assets/js/plugins/scrollup.js"></script>
<script src="assets/js/plugins/ajax-mail.js"></script>

<!-- Use the minified version files listed below for better performance and remove the files listed above
<script src="assets/js/vendor/vendor.min.js"></script>
<script src="assets/js/plugins/plugins.min.js"></script>  -->
<!-- Main JS -->
<script src="assets/js/main.js"></script>

</body>

</html>